<div class="sidebar-logo">
  <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
  <h1>艺术融媒体</h1>
</div>




<ul nz-menu nzTheme="light" [nzInlineCollapsed]="isCollapsed" nzMode="inline">

  <ng-container *ngFor="let route of routeList">

    <ng-container *ngIf="route.data.onlyOne">
      <li nz-menu-item nzMatchRouter nzMatchRouter>
        <i nz-icon [nzType]="'setting'"></i>
        <span>{{route.data.name}}</span>
        <a [routerLink]="route.path"></a>
      </li>
    </ng-container>

    <ng-container *ngIf="!route.data.onlyOne">
      <li nz-submenu nzMatchRouter [nzTitle]="route.data.name" nzIcon="dashboard"  [nzOpen]="route.open">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let routeChildren of route.children">
            <a [routerLink]="route.path + '/' + routeChildren.path">{{routeChildren.data.name}}</a>
          </li>
        </ul>
    </ng-container>
  </ng-container>

</ul>
