<div class="login">
  <div class="main">
    <img src="../../../assets//image/mianpic.png" alt="" />
    <div class="loginInfo">
      <div class="title">
        <img src="../../../assets//image/logo.png" alt="" />
        <span>美术传媒拍卖</span>
      </div>
      <div class="login-form">
        <div>
          <nz-input-group [nzPrefix]="prefixUser" nzSize='large' nzTheme='fill'>
            <input type="text" nz-input placeholder="用户名"/>
          </nz-input-group>
          <ng-template #prefixUser>
            <i nz-icon nzType="user"></i>
          </ng-template>
        </div>
        <div>
          <nz-input-group [nzPrefix]="prefixLock" nzPrefix="￥" nzSize='large'>
            <input type="text" nz-input placeholder="密码"/>
          </nz-input-group>
          <ng-template #prefixLock>
            <i nz-icon nzType="unlock"></i>
          </ng-template>
        </div>
      </div>


    </div>
  </div>
</div>
